h1{
    text-align: center;
}

.bingo-sheet{
    margin: 0 auto;
    font-size: 40px;
}

.bingo-sheet td{    
    text-align: center;
    border: 2px solid black;
    padding: 10px;
}

.generate-button{
    margin-top: 30px;
    text-align: center;
}

.generate-button button{
    font-size: 40px;
    background-color: lightgray;
    box-shadow: 0 0.5 0 0.5 black;
}

.generate-button button:hover{
    background-color: gray;
}

.highlight-number{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.drawn-numbers{
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.drawn-numbers li{
    width: 10%;
}